name: Automated Fixes
on:
  push:
    branches-ignore: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
          build-scan-terms-of-use-agree: 'yes'
      - name: Configure git
        run: git config --global user.name "Shawn Witte" && git config --global user.email "shawn.l.witte@gmail.com"
      - name: Detekt Lint
        run: (./gradlew createAndroidVersionCode && ./gradlew detekt lint --continue || true) && ./gradlew --stop
      - name: Commit and push automated fixes
        run: |
          if [ -z "$(git status --porcelain)" ]; then
              echo "no automatically fixable issues found"
            else
              git add . && git commit -m "fix style" && git push
            fi
