name: Build, Analyze, and Test
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
          build-scan-terms-of-use-agree: 'yes'
      - name: Gradle build and checks
        run: ./gradlew createAndroidVersionCode && ./gradlew assembleDebug testAndroidHostTest jvmTest :api:test detekt lint -Pkover koverHtmlReport --continue && ./gradlew --stop
      - uses: actions/upload-artifact@v4
        with:
          name: problems and reports
          path: |
            **/build/reports/problems/problems-report.html
            **/build/reports/tests/testAndroidHostTest/index.html
            **/build/reports/kover/html/index.html
          if-no-files-found: ignore